@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.font-manrope{
    font-family: "Manrope", sans-serif;
}

.bg-image{
    background-image: url(../assets/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-virtual{
    background-image: url(../assets/virtual1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.343);
    background-blend-mode: overlay;
}

.bg-chart{
    background-image: url(../assets/chart.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}